* text=auto

*.py text eol=lf
*.ipynb text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pth binary
*.pt binary
*.ckpt binary
*.csv text